/* common sheared style */

* {
    padding: 0px;
    margin: 0px;

}

body {
    font-family: 'Lato', sans-serif;
}



/* header part style */

.header-container {
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 920px;
    display: flex;
    gap: 40px;


}

.heading-style {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    padding: 198px 160px 30px 250px;

}

.pra-style {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 0px 175px 30px 254px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    margin: 0px 671px 167px 254px;
    border: none;
    padding: 20px 43px;
    display: inline-flex;
    gap: 10px
}


.img-style {
    padding: 119px 490px 0px 0px;
}

/* Main part style */

.info-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-top:50px;
   
}


.main-header {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    padding-top: 178px ;
    padding-bottom: 30px;
}

.pra-style2 {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.little-pra{
    text-align: center;
    text-decoration: underline 2px;
    padding-top: 32px;
   
}

.flower-img1 {
    border: none;
    background-color:rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding:90px 65px 0px 62px ;
   
}

.flower-img2 {
    border: none;
    background-color:rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
   padding:95px 38px 53px 53px ;
}

    
.flower-img3 {
    border: none;
    background-color:rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding:47px 56px 0px 50px ;
   
}

