/* common sheared style */

* {
    padding: 0px;
    margin: 0px;

}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Lato', sans-serif;
    background: #FFF;
}



/* header part style */

.header-container {
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 920px;
    display: flex;
    gap: 40px;


}

.heading-style {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    padding: 198px 160px 30px 250px;

}

.pra-style {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 0px 175px 30px 254px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    margin: 0px 671px 167px 254px;
    border: none;
    padding: 20px 43px;
    display: inline-flex;
    gap: 10px
}


.img-style {
    padding: 119px 490px 0px 0px;
}

/* Main part style */

.info-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-top: 50px;

}


.main-header {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    padding-top: 178px;
    padding-bottom: 30px;
}

.pra-style2 {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.little-pra {
    text-align: center;
    text-decoration: underline 2px;
    padding-top: 32px;

}

.flower-img1 {
    border: none;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 90px 65px 0px 62px;

}

.flower-img2 {
    border: none;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 95px 38px 53px 53px;
}


.flower-img3 {
    border: none;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 47px 56px 0px 50px;

}

/* main part sign up from style */

.sign-container {
    width: 1910px;
    height: 590px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    gap: 140px;
    margin-top: 130px;

}

.si-heading {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    padding: 230px 70px 24px 420px;

}

.si-pra {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 0px 32px 395px;

}

.si-flower {
    padding: 100px 430px 100px 140px;
}

.btn-primary2 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    margin: 0px 280px 162px 603px;
    border: none;
    padding: 20px 43px;
    display: inline-flex;
    gap: 10px
}

/*inta section style*/

.flower-img-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 50px;
    margin-bottom: 130px;

}

/* maill section */

.mail-container {
    background-image: url(./images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    margin: 0px 244px 128px 244px;
}

.main-header2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 115px 510px 5px 525px;

}

.input-sty {
    border-radius: 8px;
    border: none;
    width: 690px;
    height: 56px;
    margin: 48px 16px 121px 288px;

}

input,
placeholder {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding: 3px 0px 3px 16px;
}

.btn-primary3 {

    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 27px;

}

/* footer part style */

.footer-info {
    background: #111010;
    width: 1946px;
    height: 449px;
    flex-shrink: 0;
}

.heading-5 {
    color: #E55473;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    padding: 128px 832px 24px 831px;
}

.shoop-sty {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
}

.foot-pra {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 0px 649px 32px 648px;
}

.rights {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 0px 783px 128px 784px;
}